@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.top-suit,
.bottom-suit {
    font-size: 50px;
}

.bottom-suit {
    transform: rotate(180deg);
}

.number {
    font-size: 80px;
    font-weight: bold;
}

.heart,
.diamond {
    color: red;
}

.spade,
.club {
    color: black;
}